<% include ../partials/header %>

<h1 class="display-4">Your Courses</h1>
<% var newCourseUrl = "/user/"+user._id+"/course/new" %>


<div class="row">
    <% user.courses.forEach(function(course){ %>
    <div class=" card col-lg-4 col-md-6" style="display:inline">
        <div class='card-header text-center'>
            <a href="/user/<%=user._id%>/course/<%=course._id%>"><%=course.name %></a>
        </div>
        <div class="courses card-body" data-grade=<%=course.currentGrade%>></div>
    </div>
<% }) %>
</div>
<a class="btn btn-primary" id="newCourse" href=<%=newCourseUrl%>>Add New Course</a>

<script src="/scripts/radialprogress.js"></script>
<script src="/scripts/index.js"></script>
<% include ../partials/footer %>