<%include ../partials/header%>
<div class="w-100 mx-auto">
    <div id="not-table" class="w-75 mx-auto pl-3">
        <p class="h1 mb-4"><%=course.name%> </p>
        <h2> Current Grade: <span id="currentCourseGrade"></span>% </h2>
        <!-- Edit link -->
        <% var editUrl = ("/user/"+ course.student._id + "/course/" + course._id  + "/edit") %>
        <a class="btn btn-primary" href= <%= editUrl %>>Edit Assignment</a>
        
        <!-- Delete button and form -->
        <% var deleteUrl = ("/user/"+ course.student._id + "/course/" + course._id + "?_method=DELETE") %>
        <form method="POST" action="<%=deleteUrl%>" style="display:inline-block">
            <button class="btn btn-danger">Delete</button>
        </form>
        
        <!-- If else link -->
        <% var ifElseUrl = ("/user/"+ course.student._id + "/course/" + course._id + "/ifelse") %>
        <a class="btn btn-secondary" href= <%= ifElseUrl %>>Create if else situation</a>
        
    </div>
    
    
    <% course.Assignments.forEach(function(assignment){%>
        <div class="assignmentDiv col-lg-9 col-md-10 col-sm-12 mx-auto w-100">
            
            <!-- Defining the new subassignment form in advance -->
            <% var SubassignmentPostUrl = ("/user/"+ course.student._id + "/course/" + course._id  + "/assignment/" + assignment._id + "/subassignment/") %>
            <form class="newSubassignmentForm needs-validation" id="newSubassignmentFormFor<%=assignment.id%>" method="POST" action= <%= SubassignmentPostUrl%>></form>
            
            <!-- For each assignment create a table that displays the subassignments along with their name, grade and weight -->
            <table class=" table-bordered subassignmentTable table table-striped">
                <thead>
                    <tr>
                        <th class="assignmentName"><%=assignment.name%></th> 
                        <th class = "grade"><%=assignment.grade%></th> 
                        <th> / </th>
                        <th class="weight"><%=assignment.weight%></th>
                        <th><button class="newSubassignmentBtn btn btn-outline-light iconButton"><i class="fas fa-plus"></i></button></th>
                    </tr>
                </thead>
                
            
                <tbody class="subassignmentBody">
                    <% assignment.subassignments.forEach(function(subassignment){ %>
                        <!-- For each subassignment display info -->
                        <% var SubassignmentPutUrl = ("/user/"+ course.student._id + "/course/" + course._id  + "/assignment/" + assignment._id + "/subassignment/"+subassignment._id) %>
                        <% var SubassignmentDeleteUrl = ("/user/"+ course.student._id + "/course/" + course._id  + "/assignment/" + assignment._id + "/subassignment/"+subassignment._id) %>
                        <tr data-actionUrl = "<%= SubassignmentPutUrl%>" data-subassignmentId = "<%= subassignment._id %>" >
                           <td class="name"><%= subassignment.name%></td> 
                           <td class="achieved"><%= subassignment.achieved%></td> 
                           <td> / </td>
                           <td class = "total"><%= subassignment.total%></td> 
                           <td>
                               <button class="editBtn btn btn-outline-dark iconButton"><i class="fas fa-edit"></i></button>
                               <form class="deleteBtn" action="<%= SubassignmentDeleteUrl%>" method="POST" style="display:inline"> 
                                    <button class="btn btn-outline-dark iconButton"><i class="fas fa-trash"></i></button>
                                </form>
                            </td>
                        </tr>    
                        <% }) %> 
                        
                        <!-- The new subassignment row -->
                        <% var SubassignmentName = assignment.name + " "+ assignment.subassignments.length; %>
                        <tr class="newSubassignmentRow">
                            <td><input type='text' name="subassignment[name]" value=<%=SubassignmentName%>"" form= "newSubassignmentFormFor<%=assignment.id%>"></td>
                            <td><input type='text' name="subassignment[achieved]" required form= "newSubassignmentFormFor<%=assignment.id%>"></td>
                            <td>/</td>
                            <td><input type='text' name="subassignment[total]" required form= "newSubassignmentFormFor<%=assignment.id%>"></td>
                            <td><button form= "newSubassignmentFormFor<%=assignment.id%>" class="btn btn-outline-dark iconButton"><i class=" fas fa-check"></i></button></td>
                        </tr>
                </tbody>
            </table>
        </div>
    <% }) %>
</div>


<script src="/scripts/ajaxShow.js"></script>
<%include ../partials/footer%>